*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
section{
    padding: 20px 30px;
}

/* ----- navbar ----- */
.navbar{
    height: 90px;
    box-shadow: 0 2px 9px rgb(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}
.airbnb--logo{
    max-width: 120px;
    margin-left: 36px;
}

/* ----- Hero section ------ */
.hero{
    display: flex;
    flex-direction: column;
}
.hero--photo{
    max-width: 50%;
    align-self: center;
}
.hero--title{
   
}
.hero--description{
    max-width: 30%;
    font-weight: lighter;
}

/* ------ card section ------- */
.card--list{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto
}
.card{
    width: fit-content;
    width: 176px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
}
.card--image{
    background-size: cover;
    width: 100%;
    height: 235px;
    position: relative;
}
.card--image > img{
    width: 100%;
    height: 100%;
    border-radius: 9px;
    object-fit: cover;
}
.card--update{
    background-color: white;
    padding: 5px 6px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.star--rates{
    margin-top: 10px;
    line-height: 1.6;
}
.star--icon{
    width: 14px;
    height: 14px;
    border-radius: 0.5px;
    margin-right: 6px;
}
.star--desc{
    color: #918E9B;
}
.card--desc, .card--price{
    color: #222222;
    font-weight: lighter;
}

/* -----contact section------ */
.contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.contact-card {
    flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    padding-bottom: 20px;
    background-color: white;
}

.contact-card > img {
    width: 100%;
    height: auto;
    align-self: center;
    border-radius: 5px;
    object-fit: cover;
}

.contact-card > h3 {
    font-weight: 700;
    font-size: 18px;
}

.info-group {
    display: flex;
    align-items: center;
}

.info-group > img {
    height: 11px;
    margin-right: 8px;
}

.info-group > p {
    margin-block: 3px;
    font-size: 12px;
    color: #2B283A;
}

/* -------Jokes section----- */
.joke{
    margin: 30px;
    width: 50%;
}
.joke-setup{
    font-family: 'Karla', sans-serif;
}
.joke > hr{
    margin: 20px 0;
}